.features__main {
  position: relative;
  padding-top: 19px;

  @media @tablet {
    display: flex;
    flex-wrap: wrap;
    padding-top: 37px;
  }

  &:first-of-type::before {
    content: "";
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 37px;
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;

    @media @tablet {
      content: none;
    }
  }

  &--reverse {
    @media @tablet {
      flex-direction: row-reverse;
    }
  }
}

.features__description {
  box-sizing: border-box;
  padding: 37px 20px 26px;
  color: @font-color-secondary;
  background-color: @bg-color-button;
  text-align: center;

  @media @tablet {
    padding: 45px 20px 26px;
    width: 33.333333%;
  }

  @media @desktop {
    padding: 53px 45px 26px;
  }

  &--first {
    padding-top: 57px;
  }
}

.features__subtitle {
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: @font-color-heading;

  @media @tablet {
    font-size: 21px;
  }

  @media @desktop {
    max-width: 160px;
  }

  &--main {
    color: @font-color-secondary;
  }
}

.features__number {
  margin-top: 9px;
  margin-bottom: 9px;
}

.features__text {
  margin-top: 16px;

  @media @tablet {
    margin-top: 23px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.features__text-break {
  display: none;

  @media @desktop {
    display: inline;
  }
}

.features__image-wrapper {
  position: relative;
  overflow: hidden;
  min-height: 260px;

  @media @tablet {
    width: 66.666667%;
    min-height: 256px;
  }
}

.features__image {
  display: block;
  max-width: 100%;
  height: auto;

  @media @desktop {
    position: absolute;
    top: 57%;
    transform: translateY(-54%);
  }
}
