.form-feedback {
  line-height: 26px;
}

.form-feedback__fieldset {
  margin: 0;
  padding: 18px 20px 5px;
  border: 0;
  border-top: 1px solid @border-color-photo;

  &--contacts {
    padding-bottom: 15px;
  }

  &--impression {
    padding-bottom: 16px;
  }

  &--achivments {
    padding-bottom: 1px;
  }
}

.form-feedback__legend {
  float: left;
  margin-bottom: 21px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: @font-color-heading;
  text-align: center;
}

.form-feedback__input-wrapper {
  .list-reset();

  clear: both;
}

.form-feedback__input-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  &--contacts {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 14px;

    &::after {
      content: "";
      position: absolute;
      top: 31px;
      right: 0;
      width: 58px;
      height: 58px;
      background-color: #e6e6e6;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--phone::after {
    background-image: url("../img/icon-phone.svg");
  }

  &--email::after {
    background-image: url("../img/icon-mail.svg");
  }

  &--impression {
    margin-bottom: 14px;
    padding-top: 15px;
    padding-bottom: 14px;
  }

  &--achivments {
    margin-bottom: 23px;
    padding-top: 13px;
    padding-bottom: 17px;
  }
}

.form-feedback__label {
  display: block;
  margin-right: 15px;

  &--contacts {
    margin-bottom: 5px;
    padding-left: 22px;
  }
}

.form-feedback__label-checkbox {
  position: relative;
  display: block;
  padding-left: 78px;
  font-size: 18px;
  font-weight: 700;
  text-transform: none;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 56px;
    height: 56px;
    border-radius: 3px;
    background-color: @bg-color-video-panel;
  }

  &::after {
    content: "";
    position: absolute;
    display: none;
    left: 17px;
    top: 2px;
    transform: rotate(-45deg);
    width: 19px;
    height: 9px;
    border-left: 4px solid @font-color-base;
    border-bottom: 4px solid @font-color-base;
  }

  &:hover::before {
    background-color: @border-color-photo;
  }

  &:active::before {
    background-color: @bg-color-checkbox--active;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.form-feedback__checkbox:checked + .form-feedback__label-checkbox::after {
  display: block;
}

.form-feedback__label-radio {
  position: relative;
  display: block;
  padding-left: 78px;
  font-size: 18px;
  font-weight: 700;
  text-transform: none;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: @bg-color-video-panel;
  }

  &::after {
    content: "";
    position: absolute;
    display: none;
    left: 17px;
    top: 50%;
    width: 21px;
    height: 21px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: @font-color-base;
  }

  &:hover::before {
    background-color: @border-color-photo;
  }

  &:active::before {
    background-color: @bg-color-checkbox--active;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.form-feedback__radio:checked + .form-feedback__label-radio::after {
  display: block;
}

.form-feedback__input-text {
  box-sizing: border-box;
  padding: 12px 17px;
  width: 100%;
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  color: @font-color-heading;
  border: 4px solid @bg-color-video-panel;
  background-color: @bg-color-video-panel;

  &:hover {
    border-color: @border-color-photo;
    background-color: @border-color-photo;
  }

  &:focus {
    outline: none;
    border-color: @border-color-photo;
    background-color: @white;
  }

  &--contacts {
    padding-right: 75px;
  }
}

.form-feedback__input-text::placeholder {
  color: inherit;
}

.form-feedback__radio,
.form-feedback__checkbox {
  display: none;
}

.form-feedback__textarea {
  padding-top: 7px;
  padding-bottom: 7px;
  min-height: 155px;
  resize: horizontal;
}

.form-feedback__submit-wrapper {
  padding-top: 39px;
  padding-bottom: 37px;
  padding-left: 20px;
  padding-right: 20px;
}

.form-feedback__button {
  width: 100%;
}

.form-feedback__notification {
  display: none;
}
