.page-main__header {
  padding: 39px 20px 5px;
  text-align: center;
}

.page-main__title {
  margin: 0 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: @font-color-heading;
}

.page-main__text {
  margin-top: 27px;
  margin-bottom: 0;
  line-height: 26px;
}
